.user{max-width:6.4rem; margin:0 auto; margin-bottom:0.8rem;}
.user .user--header{width:6.4rem;height:2.84rem; background:url(../img/timg1.jpg) no-repeat; padding-top:0.2rem;}
.user--header h2{width:1.02rem;height:1.02rem; border-radius:50%; margin:0 auto;}
.user--header h2 img{width:100%;} 
.user--header .user-box{width:2.14rem; font-size:0.25rem; color:#fff; margin:0 auto; margin-top:0.05rem;display:flex;justify-content:space-around;}
.user-box a{color:#fff;margin-left:4px;}
.clear{margin-top:-20px;}
.user--header ul{ margin-top:0.4rem;}
.user--header ul li{width:50%;height:0.7rem; float:left; color:#fff;}
.user--header ul li span{height:0.37rem; line-height:0.37rem; text-align:center; display:block; font-size:0.25rem;}
.user--header ul li p{ text-align:center; font-size:0.25rem;height:0.32rem; line-height:0.32rem; border-right:1px solid #fff;}
.user--header ul li p.end{ border:0;}


.docList{margin-top:5px;}




